*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000;
    border: 1px solid red;
}
.header_container{
    width: 70rem;
    height: 8.438rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid red;
}
.logo_brand{
    display: flex;
    justify-content: center;
    flex: 1;
}
.navigation{
    flex: 2;
}
.nav_list{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.nav_list > a{
    text-decoration: none;
    color: #fff;
    display: flex;
}
.nav_list > a > i{
    margin-right: .7rem;
    transform: rotate(90deg);
}
/* ============ BANNER ===========*/
.banner{
    width: 100%;
    display: flex;
    justify-content: center;
}
.banner_container{
    width: 70rem;
    height: 36.563rem;
    display: flex;
    border: 1px solid red;
}
.banner_info{
    flex: 1;
}
.banner_img{
    flex: 2;
}